.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal-title {
    font-size: 1.5em;
    color: #d35400;
    margin-bottom: 10px;
  }
  
  .modal-description ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
    text-align: left;
  }
  
  .modal-tip {
    font-style: italic;
    color: #888;
    margin-top: 10px;
  }
  
  .modal-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
  }
  
  .close-button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
   
    top: 10px;
    right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  
  .close-button:hover {
    background-color: #c2185b;
    transform: scale(1.1);
  }
  
  .close-button:active {
    background-color: #880e4f;
    transform: scale(0.95);
  }
  
  .snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }
  
  .snowflake {
    position: absolute;
    color: #fff;
    animation: fall linear infinite;
    font-size: 1.5em;
  }
  
  @keyframes fall {
    0% { top: -10%; opacity: 0; }
    10% { opacity: 1; }
    100% { top: 110%; opacity: 0; }
  }
  
  
  